albumentations==1.0.3
ipython==8.0.1
matplotlib==3.3.4
mediapipe==0.8.9.1
numpy==1.19.2
opencv_python_headless==4.1.2.30
Pillow==9.0.1
scikit_learn==1.0.2
scipy==1.6.0
tensorflow==2.8.0
tensorflow_gpu==2.4.1
torch==1.7.1
torchvision==0.8.2
tqdm==4.61.1
utils==1.0.1
