#home-container{
    background-image: linear-gradient(#010409, #161b22);
}
#home1,#home2{
    height: 100vh;
    text-align: center;
}
.home-title
{
    color:azure;
    padding-top:10vh;
    font-family: 'Fira Sans', sans-serif;
}

#icon-main-container{
    padding:5vh;
}

#icon-main{
    max-width: 30vh;
}

.home-subtitle{
    color:azure;
    font-size: larger;
    justify-content: center;
    margin-right: 25%;
    margin-left: 25%;
}
#dfe-container{
    padding:5vh;
}
#dfe{
    max-width: 50vh;
}
